{% extends "base.html.twig" %}
{% block title 'My Agency'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>My agency : a new home for a new life</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In at facilis nostrum ipsum quo deleniti odit corrupti eaque labore accusamus totam accusantium amet, nam veniam voluptates voluptatibus fuga, incidunt voluptatum.</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('property.show', {id: property.id, slug: property.slug})}}">{{property.title}}</a>
                            </h5>
                            <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{property.formattedPrice}} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
